/* boxmodel */

/* * {
	border: 1px dotted darkgray;
	outline: 1px dotted black;
} */

/* Base stuff */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* main */

main {
	padding: 0 20px 0 20px;
	margin: 0 20px 0 20px;
}

h2>a {
	display: flex;
	align-items: center;
}

a>span {
	padding: 0 0 0 .3em;
}

/* links */
body a {
	color: #800;
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

.anchor::before {
	content: "§ "
}

.crypto-address {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: xx-small
}

.copyright {
	color: #800;
}

h1 {
	margin: 21px 0 0 0;
}

h2 {
	margin: 20px 0 0 0;
}

h3 {
	margin: 19px 0 0 0;
}

p {
	margin: 0 0 2px 0;
	text-align: justify
}

/* Here's a fuckton of CSS to get the TOC working, as it would on wikipedia.org */
.toc {
	display: table
}

.toc>ul>li {
	margin-bottom: 4px;
}

.toc ul {
	margin: 0;
}

:not(:checked)>.toctogglespan:before {
	content: ' [';
	font: 11px arial;
}

:not(:checked)>.toctogglespan:after {
	content: ']';
	font: 11px arial;
}

.toctogglelabel {
	cursor: pointer;
	color: #800;
	font: 11px arial;
}

.toctogglelabel:hover {
	text-decoration: underline
}

.toctogglecheckbox:checked+.toctitle .toctogglelabel:after {
	content: 'show'
}

.toctogglecheckbox:not(:checked)+.toctitle .toctogglelabel:after {
	content: 'hide'
}

.toctogglecheckbox:checked~ul {
	display: none
}

.toc,
.toccolours {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 8px;
	text-align: center
}

.toc h2 {
	display: inline;
	font-size: 100%;
}

.toc ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	text-align: left
}

.toc ul ul {
	margin: 0 0 0 2em
}

.tocnumber,
.toctext {
	display: table-cell;
	text-decoration: inherit
}

.tocnumber {
	color: #000;
}

/* END OF TOC */